.dialog-pane {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 4); /* Ombra leggera */
    -fx-padding: 10px;
}


.dialog-pane .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.dialog-pane .content .label {
    -fx-text-fill: #555555;
    -fx-wrap-text: true;
}



.button-bar .button {
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
}


.button-bar .button:default {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.button-bar .button:default:hover {
    -fx-background-color: #0056b3;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 123, 255, 0.3), 5, 0, 0, 1);
}


.danger-alert .button-bar .button:default {
    -fx-background-color: #dc3545;
}

.danger-alert .button-bar .button:default:hover {
    -fx-background-color: #c82333;
    -fx-effect: dropshadow(three-pass-box, rgba(220, 53, 69, 0.3), 5, 0, 0, 1);
}


.button-bar .button:cancel {
    -fx-background-color: white;
    -fx-text-fill: #555555;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-bar .button:cancel:hover {
    -fx-background-color: #f2f2f2;
}