.root {
    -fx-background-color: #f0f2f5;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.stileVbox {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 20, 0, 0, 5);
}

.stileLabel {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.stileTextfield {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-prompt-text-fill: #999999;
    -fx-font-size: 14px;
}


.stileTextfield:focused {
    -fx-background-color: white;
    -fx-border-color: #007bff; /* Diventa blu quando scrivi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,123,255,0.2), 5, 0, 0, 0);
}


.stileButtonPrincipale {
    -fx-background-color: #007bff; /* Blu principale */
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand; /* Cambia il cursore in una manina */
    -fx-font-size: 14px;
}

.stileButtonPrincipale:hover {
    -fx-background-color: #0056b3; /* Blu più scuro quando passi il mouse */
}

.stileButtonPrincipale:pressed {
    -fx-background-color: #004085; /* Ancora più scuro quando clicchi */
}


.stileButtonSecondario {
    -fx-background-color: transparent;
    -fx-text-fill: #007bff;
    -fx-border-color: #007bff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1.5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.stileButtonSecondario:hover {
    -fx-background-color: #e7f1ff;
}

.stileButtonSecondario:pressed {
    -fx-background-color: #cce5ff;
}

#label_errore {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #d32f2f;
}